# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# Logs and databases
*.log
*.sqlite3
*.coverage

# System files
.DS_Store

# Data files
**/data/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Virtual environments
**/.venv/
**/env/
.env*

# VS Code
**/.vscode/
